language: node_js
node_js:
  - '10'
cache:
  directories:
    - node_modules
before_install:
  - npm i -g npm@latest
install:
  - npm i
  - npm run dist
script:
  - npm run coverage
after_success: npm run report-coverage
